<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
<p>Загрузите фото или сразу нажмите кнопку "Запуск", чтобы воспользоваться камерой</p>
<h2></h2>
<div>
<form method="post" action="" enctype=multipart/form-data>
    <input type=file name="file">
    <button type="submit">Загрузить</button>
</form>
</div>
<div>
<h2> </h2>
    <form method="get" action="runFN" >
        <button name="RunFNBt" type="submit">Запуск</button>
    </form>
    <p>
        <h2>Результаты</h2>
        <div>
        <p>{% for key in data %}
            <p>{{ key }}</p>&nbsp;
            {% endfor %}
        </p>
        </div>
    </p>
</div>
</body>
</html>